<nb-accordion>
  <nb-accordion-item *ngFor="let item of funcionarios|async">
    <nb-accordion-item-header>{{item.nome}} {{item.sobrenome}}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-funcionario-form (funcionarioSaved)="funcionarioSaved($event)" [item]="item"></app-funcionario-form>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item *ngFor="let item of novosFuncionarios">
    <nb-accordion-item-header>Novo Funcionario
      <div class="warn">
        <nb-icon icon="alert-triangle-outline" status="warning"></nb-icon> Funcionario não salvo
      </div>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-funcionario-form (funcionarioSaved)="funcionarioSaved($event)" [item]="item"></app-funcionario-form>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<button (click)="novo()" class="btns" nbButton status="primary">Novo Funcionario</button>
